<% content_for :sidebar do %>
  <div class="w-1/4 bg-white overflow-y-auto shadow-inner" data-controller="notifications-subscribe" data-notifications-subscribe-api-key-value="<%= Base64.urlsafe_decode64(Rails.application.credentials.dig(:vapid, :public_key)).bytes %>">
    <%= render partial: "search_bar" %>

    <%= turbo_stream_from "sidebar_profile_#{@profile.nickname}" %>
    <%= render partial: "sidebar", locals: { items: @chats } %>
  </div>
<% end %>

<%= turbo_frame_tag :chat_details, refresh: :morph %>
