<%= turbo_frame_tag :chat_details, refresh: :morph do %>
  <%= turbo_stream_from @chat %>
  <div class="p-4 h-20 border-b border-blue-100 bg-blue-50 flex items-center">
    <%= user_icon(@recipient) %>
    <div class="ml-3">
      <p class="text-sm font-medium text-gray-900"><%= @recipient.name %></p>
    </div>
  </div>

  <%= content_tag :div, class: "flex-1 p-4 overflow-y-auto", id: "messages",
                  data: { controller: "chat-display",
                          chat_display_token_value: @chat.token,
                          chat_display_target: "messagesContainer" } do %>
    <%= render partial: "message", collection: @messages %>
  <% end %>

  <%= render partial: "message_input" %>
<% end %>
